:root {
    --couleurFont: #546a77;
    --couleurCar: #aecadf;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: var(--couleurFont);
    color: var(--couleurCar);
}

html {
   font-size: 62.5%; /* 10px */
   
}

.cadre {
    border: solid  1px #aecadf;
    padding: 0 1rem;
}

.form {
    border: dotted  1px #aecadf;
    padding: 1rem 1rem;
}

h1 {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: bold;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

th, td{
    padding: 10px 20px;
    border: 1px solid #aecadf;
}

button{
   margin-left: 3rem;
}