/* view.css */

table th, table td {
    font-size: 1.7em; /* This targets specifically table header and data cells */
}
/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse; /* Ensures borders are collapsed */
    margin: 20px 0;
    background-color: #2a404b; /* Dark background to match main theme */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

thead {
    background-color: #4b657d; /* Header background color */
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Light border for contrast */
    border-left: 2px solid rgba(255, 255, 255, 0.2); /* Add left border */
    border-right: 2px solid rgba(255, 255, 255, 0.2); /* Add right border */
    font-size: 1.2em; /* Increase font size for better readability */
}

th {
    color: #fff; /* White text color for headers */
    font-weight: bold;
}

tr:hover {
    background-color: #3b545f; /* Darker color for row hover */
}

td {
    color: #eee; /* Light text color for table data */
}

caption {
    font-size: 2.5em; /* Caption font size */
    margin: 10px;
    color: #fff; /* White caption color */
    font-weight: bold;
}

.button-link {
    display: inline-block; /* Make links behave like a block for padding */
    padding: 10px 20px; /* Top/bottom and left/right padding */
    background-color: #68a; /* Background color of the button */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-size: 1.2em; /* Font size */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
    margin: 10px; /* Space between buttons */
}

.button-link:hover {
    background-color: #5f9eac; /* Change background on hover */
    color: #ffef90; /* Change text color on hover for contrast */
}

#search {
	display: flex;
	align-items:center;
	align-content: center;
	justify-content: flex-start;

}