/* reset all elements to avoid random margin defaults
   and don't compute size in regard to the content if size
   is fixed
*/
*, .prevent-margin-collapse
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* vim:set et sts=2 ts=2 sw=2: */

video
{
  padding: 1ex;
  border: 1px dotted black;
}
